body {
    overflow-x: hidden;
}

*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --branco: #fff;
    --brancoCinza: #F2F2F2;
    --cinzaClaro: #b4b4b4;
    --preto: #000;
    --pretoClaro: #1D2025;
    --containersPreto: #25292f;
    --bordas: #3a3f45;
    --input: #2d3239;
    --verde: #21c45d;
    --vermelho: #DC2828;
    --laranja: #F97015; 
    --amarelo: #F8CA15;
    --azul: #4B7FC1;

    --preto-transparente: #0000007c;
    --branco-transparente: #ffffff7e;
    --laranja-transparente: #f97015ad;
    --verde-transparente: #21c45d30;
    --vermelho-transparente: #dc282830;
    --laranja-transparente: #f970153c;
    --amarelo-transparente: #f8cb154c;
    --azul-transparente: #4b7ec14b;
}

.containerPai{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.qualTela{
    display: flex;
    align-items: center;
}


/* =========================================== */
/* Header - Dashboard */

.header-conteudo-dash {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header-esquerdo h3,
.header-direita button {
    color: var(--branco);
}

.header-esquerdo {
    display: flex;
    flex-direction: column;
}

.header-esquerdo01 {
    display: flex;
    align-content: flex-start;
    gap: 12px;
}

.header-esquerdo01 h3 {
    font-size: 26px;
    font-weight: 700;
}

.header-esquerdo01 p {
    /* background-color: red; */
    /* font-weight: 700; */
    padding: 4px 10px;
    font-size: 12px;
}

.status-servidor {
    display: flex;
    align-items: center;
    background-color: #21be5b3a;
    color: #21BE5B;
    font-weight: 700;
}

.tipo-servidor {
    display: flex;
    border-radius: 10px;
    align-items: center;
    background-color: #f970152a;
    color: #F97015;
    font-weight: 500;
}

.header-esquerdo02 {
    display: flex;
    gap: 15px;
    color: var(--brancoCinza);
    align-items: center;

    font-size: 14px;
}

.header-direita button {
    font-size: 14px;
    align-items: center;
}

.botao-alerta {
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 4px 10px;
    transition: all 0.25s ease;
}

.botao-alerta:hover {
    background-color: var(--preto);
    box-shadow: 0 0 8px #747985;
}

.botao-exportar {
    background-color: #F97015;
    border: 1px solid #F97015;
    border-radius: 6px;
    padding: 4px 10px;
    color: white !important;
    margin-left: 4px;
    transition: all 0.25s ease;
}

.botao-exportar:hover {
    background-color: #f97015d1;
    border: 1px solid #f97015d1;
    transform: scale(1.03);
}

.header-responsividade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* background-color: red; */
    margin: 0px;
    gap: 12px;
}

.header-responsividade img {
    padding: 2px;
    transition: all 1s ease;
}

.header-responsividade img:hover {
    transform: scale(1.2);
}

.header-responsividade a {
    color: var(--brancoCinza);
    text-decoration: none;
    transition: all 0.25s ease;
}

.header-responsividade a:hover {
    color: var(--branco);
}

/* =========================================== */
/* Conteúdo da Dashboard */

.conteudo-dash {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 25px !important;
    padding-right: 20px !important;
    background-color: var(--preto);
    gap: 20px;
}

/* =========================================== */
/* Conteúdo dos Card */

.conteudo-dash01 {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
}

.cards-conteudo {
    padding: auto;
    background-color: var(--pretoClaro);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 33%;
    width: 100%;
    max-height: 100%;
    border: 1px solid var(--bordas);

    padding: 14px 12px;
    transition: all 0.25s ease;
}

.cards-conteudo:hover {
    border: 1px solid #f9701573;
}

.titulo-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.titulo-cards-servidores {
    gap: 300px;
    display: flex;
    justify-content: space-between;
    color: var(--branco);
    flex-direction: row;
    margin-bottom: 10px;
}

.conteudo-abaixo-cards {
    color: var(--branco);
}

.conteudo-abaixo-cards h1 {
    font-size: 28px;
    font-weight: 800;
    color: var(--branco);
}

.conteudo-abaixo-cards h4 {
    font-size: 14px;
    font-weight: 400;
    color: var(--brancoCinza);
}

.linha-cards {
    display: flex;
}

/* =========================================== */
/* Estilo - Chart.js | Gráficos Cards */
.conteudo-dash02 {
    margin-bottom: 20px;
}

.cards-grafico {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.card-grafico {
    background-color: var(--pretoClaro);
    border-radius: 6px;
    display: flex;
    min-width: 32%;
    flex-direction: column;
    gap: 8px;
    border: 1px solid var(--bordas);

    padding: 14px 12px;
    transition: all 0.25s ease;
}

.card-grafico:hover {
    border: 1px solid #f9701573;
}

.card-grafico h4 {
    font-size: 18px;
    color: var(--brancoCinza);
}

/* =========================================== */
/* Dashboard - Última Parte - Alertas e legendas */

.conteudo-dash03 {
    display: flex;
    gap: 20px;
}

.componentes-servidor {
    display: flex;
    flex-direction: column;
    max-width: 67.5%;
    width: 100%;

    height: 425px;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;

    transition: all 0.25s ease;
}

.componentes-servidor:hover {
    border: 1px solid #f9701573;
}

.componentes-titulo {
    color: var(--branco);
    margin: 20px 0px 0px 20px;
    /* Cima, Esquerda, Baixo e Direita*/
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.legendas-servidor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 32.5%;
    width: 100%;
}

.card-alertas {
    display: flex;
    flex-direction: column;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    width: 100%;
    max-height: 100%;
    height: 100%;

    transition: all 0.25s ease;
}

.card-alertas:hover {
    border: 1px solid #f9701573;
}

.componente-monitorado {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;

    border-top: 1px solid #7e8a9a36;
    border-bottom: 1px solid #7e8a9a36;

    height: fit-content;
    /* background-color: red; */

    justify-content: space-between;
}

.componente-monitorado p {
    color: var(--branco);
    margin: 0;
}

.componente-monitorado span {
    color: var(--brancoCinza);
}

.componente-infos,
.componente-status,
.componente-metrica,
.componente-status-icon {
    display: flex;
    align-self: center;
    align-items: center;
    font-family: 'Roboto';
}

.componente-infos {
    gap: 15px;
    max-width: 100px;
    width: 100%;
}

.componente-infos p {
    font-weight: 500;
}

.componente-status p {
    font-weight: 800;
}

.componente-metrica {
    font-size: 12px;
    min-width: 50px;
    justify-content: center;
}

.header-alertas-card {
    display: flex;
    padding: 12px;

    justify-content: space-between;
}

.header-alertas-card p {
    color: var(--branco);
    font-size: 20px;
    font-weight: 700;
}

.header-alertas-card span {
    color: var(--brancoCinza);
    font-size: 14px;
}


.info-alerta {
    display: flex;
    gap: 12px;
    height: fit-content;

    border-top: 1px solid #7e8a9a36;
    border-bottom: 1px solid #7e8a9a36;

    padding: 5px 10px;
}

.infos-escrita-alerta {
    display: flex;
    flex-direction: column;

    gap: 0;
}

.infos-escrita-alerta p {
    color: var(--branco);
    margin: 0;
    font-size: 18px;
}

.infos-escrita-alerta span {
    color: var(--brancoCinza);
    font-size: 14px;
    margin: 0;
}

.parte-componentes {
    overflow-y: auto;
    /* Adiciona Scrollbar mesmo sem precisar*/
}

.parte-componentes::-webkit-scrollbar {
    width: 5px;
    /* Largura do Scrollbard*/
}

.parte-componentes::-webkit-scrollbar-track {
    background: transparent;
    /* Tira aquele fundo zoado branco entorno da Scrollbar */
}

.parte-componentes::-webkit-scrollbar-thumb {
    background: rgba(249, 112, 21, 0.7);
    /* Cor da Scrollbar */
    border-radius: 20px;
    /* Arredondar os cantos da Scrollbar*/
}

/* __________________ */
/* Navbar dos Alertas */

.alertas-recentes {
    overflow-y: auto;
    /* Adiciona Scrollbar mesmo sem precisar*/
}

.alertas-recentes::-webkit-scrollbar {
    width: 5px;
    /* Largura do Scrollbard*/
}

.alertas-recentes::-webkit-scrollbar-track {
    background: transparent;
    /* Tira aquele fundo zoado branco entorno da Scrollbar */
}

.alertas-recentes::-webkit-scrollbar-thumb {
    background: rgba(249, 112, 21, 0.7);
    /* Cor da Scrollbar */
    border-radius: 20px;
    /* Arredondar os cantos da Scrollbar*/
}

.sidebar {
    display: flex !important;
    background-color: var(--preto);
    border-right: 1px solid #484c55;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 30px !important;
    position: sticky;
    top: 0;
}

/* Modo compactado */
.sidebar.compacta {
    width: 7%;
}

/* Esconder textos */
.sidebar.compacta .titulo_sidebar,
.sidebar.compacta .btn-nobroke a,
.sidebar.compacta .btn-nobroke span:not(.icon),
.sidebar.compacta .user-infos {
    display: none;
}

.sidebar.compacta .menu_centro {
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Centralizar ícones */
.sidebar.compacta .btn-nobroke {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar.compacta .btn-nobroke img {
    margin: 0;
}

.sidebar.compacta .logo-container {
    width: 100px;
    height: auto;
}

/* Ajustar ícones */
.sidebar.compacta .logo-container img {
    width: 60px;
    height: 50px;
}


.sidebar.compacta .icon img {
    width: 40px;
}

.sidebar.compacta .user-profile {
    width: 100px;
    justify-content: center;
}

.sidebar.compacta .user-profile img {
    width: 80px;
}

.conteudo-dash.expandido {
    width: 93% !important;
}

.logo-container {
    display: flex;
    justify-content: center;
    /* background-color: orange; */
    width: 108%;
    padding-bottom: 6px;
    border-bottom: 2px solid #2E3138;
    height: 12%;
}

.logo-dash {
    width: 250px;
}

.titulo_sidebar {
    color: #484c55;
    font-size: 14px;
    margin-left: 20px;
}

.menu_centro {
    height: 73%;
}

.menu_centro a {
    text-decoration: none;
}

.btn-nobroke {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120%;
    text-align: center;

    background-color: var(--preto);
    color: var(--brancoCinza) !important;

    padding: 6px 8px;
    border-radius: 8px;
    border: none;

    font-weight: 400;
    text-decoration: none;

    transition: all 0.25s ease;
    margin-bottom: 10px;
}

.btn-nobroke a {
    color: var(--brancoCinza);
}

.btn-nobroke:hover a {
    color: var(--branco);
}

.btn-active {
    background-color: var(--pretoClaro);
    color: #F97015 !important;
    transition: all 0.5s ease;
}

.btn-active a {
    color: #F97015;
}


.btn-nobroke:hover {
    background-color: var(--pretoClaro);
    box-shadow: 0 0 8px #ffffff90;
    color: var(--branco) !important;
    transform: scale(1.03);
}

.btn-active:hover {
    box-shadow: 0 0 8px #f9701590;
}

.icon img {
    width: 30px;
    margin-right: 10px;
}

.menu01 {
    height: 50%;
    margin-bottom: 70px;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f1f3f6, #e4e7ec);
}

.img-manutencao {
    max-width: 500px;
    width: 50%;
}


.user-profile {
    border-top: solid 2px #2E3138;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    cursor: pointer;
}

.user-infos {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    font-family: 'Roboto';
    flex-direction: column;
    text-align: start;
}

.user-infos p {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.profile-img {
    display: flex;
    width: 30%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    width: 80px;
    height: 100%;
}

.username {
    margin-bottom: 10px;
    font-size: 18px !important;
}

.cargo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px !important;
}

.logout-btn {
    padding: 6px 12px;
    border: none;
    background-color: #e74c3c;
    color: var(--branco);
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c0392b;
}

.barra-pesquisa {
    display: flex;
    flex-direction: row;
}

.barra-pesquisa input {
    border: none;
    outline: none;
    background: transparent;
    width: 300px;
    padding: 5px;
    background-color: var(--pretoClaro);
    color: var(--branco);
    border-radius: 5px;
    border: 1px solid var(--bordas);
}

.barra-pesquisa button {
    background-color: var(--pretoClaro);
    border: none;
    border-radius: 6px;
    padding: 4px 10px;
    transition: all 0.25s ease;
    margin: 0 5px;
    color: var(--branco);
    border: 1px solid var(--bordas);
}

.barra-pesquisa button:hover {
    background-color: #e26715;
}

.tabela-servidores button {
    border: none;
    background-color: var(--pretoClaro);
    color: var(--branco);
    border-radius: 10px;
    padding: 5px;
}

.tabela-servidores button:hover {
    background-color: #e26715;
}

table {
    margin-top: 10px;
    color: var(--branco);
    background-color: var(--pretoClaro);
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--bordas);
}

.card01-icon {
    margin-right: 10px;
}

thead,
tr {
    font-size: 16px;
    width: 100% !important;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: none;
}

thead th {
    border-bottom: 1px solid var(--bordas);
}

tbody td {
    border-bottom: 1px solid var(--bordas);
}


.conteudo-abaixo-cards p {
    color: grey;
}

.cards-conteudo-relatorios {
    padding: auto;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--pretoClaro);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 33%;
    width: 100%;
    min-height: 100%;
    border: 1px solid var(--bordas);

    padding: 14px 12px;

    transition: all 0.25s ease;
}

.cards-conteudo-relatorios:hover {
    border: 1px solid #f9701573;
}

.acoes-card {
    display: flex;
    justify-content: flex-end;
}

.acoes-card button {
    border: none;
    background-color: var(--preto);
    color: var(--branco);
    border-radius: 10px;
    padding: 5px;
    width: 40%;
    margin: 0px 15px 0px 15px;
}

.acoes-card button:hover {
    background-color: #e26715;
}

.Tabela-Relatorios table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--pretoClaro);
    color: var(--branco);
    border-radius: 6px;
    border: 1px solid var(--bordas);
}

.Tabela-Relatorios th {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid var(--bordas);
}

.Tabela-Relatorios td {
    padding: 0;
}

.card01-icon {
    width: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.subtitulo-tabela {
    font-size: small;
    color: #9ca3af;
    margin-top: 6px;
}

.linha-relatorio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    border-bottom: 1px solid var(--bordas);
}

.info-esquerda {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info-esquerda p {
    margin: 0;
    font-size: small;
    color: #9ca3af;
}

.info-direita {
    display: flex;
    align-items: center;
    gap: 16px;
}

.info-direita p {
    margin: 0;
    font-size: small;
    color: #9ca3af;
}

.info-direita button {
    background-color: var(--preto);
    border: 1px solid var(--bordas);
    color: var(--branco);
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.info-direita button:hover {
    border-color: #f97316;
    color: #f97316;
}

.cards-conteudo-seguranca {
    padding: auto;
    background-color: var(--pretoClaro);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bordas);

    padding: 14px 12px;

    transition: all 0.25s ease;
}

.score-pontuacao {
    background-color: var(--pretoClaro);
    color: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
    border: 3px solid #388E3C;
}

.texto-lado {
    display: flex;
    flex-direction: column;
    color: var(--branco);
}

.texto-lado p {
    color: gray;
}

.acoes-card-seguranca {
    display: flex;
    justify-content: space-between;
}

.acoes-card-seguranca button {
    background-color: transparent;
    border: solid 1px #88e789;
    border-radius: 10px;
    cursor: pointer;
    color: green;
    opacity: 1;
}

.acoes-card-seguranca button:hover {
    background-color: #e26715;
}

.cards-conteudo-suporte {
    padding: auto;
    background-color: var(--pretoClaro);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 100%;
    border: 1px solid var(--bordas);

    padding: 14px 12px;

    transition: all 0.25s ease;
}

.Tabela-suporte table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--pretoClaro);
    color: var(--branco);
}

.Tabela-suporte th {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid var(--bordas);
}

.Tabela-suporte td {
    padding: 0;
}

.card01-icon {
    width: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.subtitulo-tabela {
    font-size: small;
    color: #9ca3af;
    margin-top: 6px;
}

.form-contato {
    margin-top: 30px;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 8px;
    padding: 24px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--branco);
}

.form-contato input {
    background-color: var(--pretoC);
    border: 1px solid var(--bordas);
    border-radius: 10px;
    color: var(--branco);
}

.form-contato input:hover {
    border: 1px solid #ff6a00;
}

.form-contato button {
    margin-top: 10px;
    background-color: #ff6a00;
    border: none;
    padding: 12px;
    border-radius: 6px;
    color: var(--branco);
    font-weight: 500;
    cursor: pointer;
}

.form-contato button:hover {
    background-color: #ff7b2c;
}

/* ========================================== */
/* Central de Alertas */

.cards-alerta-central {
    display: flex;
    max-width: 100%;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.header-central-alertas,
.header-monitoramento {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header-central-alertas h2,
.header-monitoramento h2 {
    color: var(--branco);
    font-size: 26px;
}

.header-central-alertas p,
.header-monitoramento p {
    color: var(--brancoCinza);
    font-size: 18px;
}

.card-alerta-geral {
    display: flex;
    gap: 25px;
    align-items: center;
    background-color: var(--pretoClaro);
    width: 25%;
    padding: 20px 10px;
    border-radius: 6px;
    border: 1px solid var(--bordas);
}

.card-alerta-geral img {
    border-radius: 6px;
}

.card-alerta-infos h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.card-alerta-infos span {
    color: var(--brancoCinza);
}

/* Filtros e Busca da Central de Avisos */
.central-alerta-filtros {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.central-alerta-filtros input {
    width: 24.5%;
    background-color: var(--pretoClaro);
    color: var(--brancoCinza);
    border-radius: 6px;
    border: 1px solid var(--bordas);
    padding: 8px 10px;
}

.filtrosDeAlerta {
    display: flex;
    gap: 5px;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    height: 100%;
    padding: 6px;
}

.filtrosDeAlerta button {
    background-color: transparent;
    border: none;
    color: var(--brancoCinza);
    transition: all 0.25s ease;
    border-radius: 6px;
}

.btn-filtro.filtroAtivo {
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--branco);
}

/* Cards de Alerta - Abaixo do Filtro */
.lista-alertas {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
    /* Adiciona Scrollbar mesmo sem precisar*/
}

.lista-alertas::-webkit-scrollbar {
    width: 5px;
    /* Largura do Scrollbard*/
}

.lista-alertas::-webkit-scrollbar-track {
    background: transparent;
    /* Tira aquele fundo zoado branco entorno da Scrollbar */
}

.lista-alertas::-webkit-scrollbar-thumb {
    background: rgba(249, 112, 21, 0.7);
    /* Cor da Scrollbar */
    border-radius: 20px;
    /* Arredondar os cantos da Scrollbar*/
}



.caixa-alerta {
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 10px 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.conteudo-alerta-esquerda {
    display: flex;
    gap: 15px;
    align-items: center;
}

.tituloAlerta {
    color: var(--branco);
    font-size: 18px;
    font-weight: 700;
}

.dadosAlertaServidor,
.descricaoAlerta {
    margin: 0;
}


.descricaoAlerta {
    color: var(--brancoCinza);
    font-size: 12px;
}

.dadosAlertaServidor {
    margin-top: 5px;
    font-size: 14px;
    color: var(--brancoCinza);
}


.escolhasCaixaAlerta {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.escolhasCaixaAlerta img {
    cursor: pointer;
    max-height: 30px;
    border-radius: 6px;
    transition: all 0.25s ease;
}

.escolhasCaixaAlerta img:hover {
    background-color: #e26715;
    box-shadow: 0 0 14px #f9701590;
}

.btn-Alerta {
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 4px 12px;
    color: var(--branco);

    font-size: 14px;
    transition: all 0.25s ease;
}

.btn-Alerta:hover {
    background-color: #e26715;
    border: 1px solid #e26715;
    box-shadow: 0 0 14px #f9701590;
    color: var(--branco);
}

/* Tipo e Estado do Alerta */

.tipoAlerta,
.estadoAlerta {
    font-weight: 600;
    font-size: 10px;
    padding: 6px 12px;
    border-radius: 12px;
    margin-left: 5px;
}

.tipo-critico {
    color: #DC2828;
    background-color: #dc28282d;
}

.tipo-atencao {
    color: #E7B008;
    background-color: #e7af082a;
}

.tipo-info {
    color: #F46E15;
    background-color: #f46e152a;
}

.estado-aberto {
    color: #DC2828;
    background-color: #dc28282d;
}

.estado-reconhecido {
    color: #E7B008;
    background-color: #e7af082a;
}

.estado-resolvido {
    color: #21C45D;
    background-color: #21c45d3a;
}

/* ================================== */
/* Monitoramento */

.header-monitoramento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.header-monitoramento-direita button {
    background-color: var(--pretoClaro);
    color: var(--brancoCinza);
    padding: 4px 12px;
    border: 1px solid var(--bordas);
    border-radius: 6px;

    transition: all 0.25s ease;
}

.header-monitoramento-direita button:hover {
    background-color: #e26715;
    border: 1px solid #e26715;
    box-shadow: 0 0 14px #f9701590;
    color: var(--branco);
    transform: scale(1.05);
}

.cards-monitoramento {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.cardIndividual-monitoramento {
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 15px 20px;
    width: 25%;

    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    transition: all 0.25s ease;
}

.cardIndividual-monitoramento:hover {
    border: 1px solid #f9701573;
}

.cardIndividual-monitoramento img {
    width: 50px;
    padding: 12px;
    border-radius: 6px;
}

.cardMonitoramento-infos h4 {
    font-weight: 800;
}

.cardMonitoramento-infos span {
    color: var(--brancoCinza);
}

/* ======================================= */
/* Classe - Parte dos Componentes de cada servidor */

.componentesServidor {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.cards-componentesServidor {
    display: flex;
    flex-direction: row;
    max-height: 350px;
    height: 400px;

    gap: 10px;
}

.cardIndividual-ServidoresComponentes {
    width: 100%;

    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 20px 20px;

    transition: all 0.25s ease;
}

.cardIndividual-ServidoresComponentes:hover {
    border: 1px solid #f9701573;
}

.servidoresComponentes-titulo {
    color: var(--branco);
    font-size: 20px;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.servidoresComponentes-dados {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dadosIndividuais01 {
    display: flex;
    justify-content: space-between;
}

.srvMonitorado-Titulo {
    font-size: 14px;
    color: var(--brancoCinza);
}

.srvMonitorado-Porcentagem {
    color: #21C45D;
}

.dadosIndividuais02 {
    display: flex;
    width: 100%;
}

.srvMonitorado-linhaPreenchida {
    height: 5px;
    width: 40%;
    background-color: #21C45D;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.srvMonitorado-linhaNaoPreenchida {
    height: 5px;
    width: 60%;
    background-color: rgb(45, 50, 57);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dadosComponentesServidores {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    gap: 10px;
}

/* Scrollbar de Monitoramento - Servidores */
/* dadosComponentesServidores */

.dadosComponentesServidores {
    overflow-y: auto;
    /* Adiciona Scrollbar mesmo sem precisar*/
}

.dadosComponentesServidores::-webkit-scrollbar {
    width: 5px;
    /* Largura do Scrollbard*/
}

.dadosComponentesServidores::-webkit-scrollbar-track {
    background: transparent;
    /* Tira aquele fundo zoado branco entorno da Scrollbar */
}

.dadosComponentesServidores::-webkit-scrollbar-thumb {
    background: rgba(249, 112, 21, 0.7);
    /* Cor da Scrollbar */
    border-radius: 20px;
    /* Arredondar os cantos da Scrollbar*/
}

/* ============================================ */
/* Estilização - Configurações */
.header-configuracoes {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-configuracoes h2 {
    color: var(--branco);
    font-size: 26px;
}

.header-configuracoes p {
    color: var(--brancoCinza);
    font-size: 18px;
}

.configuracoesCorpo {
    display: flex;
    flex-direction: row;

    /* background-color: red; */
    gap: 20px;
}

.configuracoesPainel {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    max-height: fit-content;
    height: 100%;
    width: 100%;

    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 15px 20px;
    gap: 10px;
}

.configuracaoEscolha {
    cursor: pointer;
    width: 100%;
    min-height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 0px 10px;
    border-radius: 6px;

    transition: all 0.25s ease;
}

.configuracaoEscolha:hover {
    background-color: #ffffff11;
}

.configuracaoEscolha:hover span {
    color: var(--branco);
}

.configuracaoEscolha span {
    color: var(--brancoCinza);
    font-size: 16px;
}

.configuracaoSelecionada {
    background-color: rgba(249, 112, 21, 0.10);
    transition: all 0.25s ease;
    transform: scale(1.05);
}

.configuracaoSelecionada:hover {
    background-color: rgba(249, 112, 21, 0.25);
}

.configuracaoSelecionada:hover span {
    color: #F97015;
}

.configuracaoSelecionada span {
    color: #F97015;
}

/* ================================ */
/* Estilização - COnfiguração Geral */

.configuracoesEscolhido {
    width: 100%;
}

.cardConfiguracao {
    width: 100%;
    padding: 10px 20px;

    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 25px 20px;
    gap: 10px;
}

.cardConfiguracao h4 {
    color: var(--branco);
    font-weight: 600;
    font-size: 22px;
}

.iptTitulo {
    color: var(--branco) !important;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cardConfiguracao p {
    color: var(--brancoCinza);
}

.cardConfiguracao input,
.cardConfiguracao select {
    width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 10px 10px;

    color: var(--branco);
    transition: all 0.25s ease;
}

.cardConfiguracao input:focus,
.cardConfiguracao select:focus {
    transform: scale(1.01);
    outline: 2px solid #F97015;
}

.configGeralInferior {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.configGeralInferior h6 {
    color: var(--branco);
    font-size: 16px;
    margin: 0;
}

.configGeralInferior span {
    color: var(--brancoCinza);
}

.configuracaoGeral {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.geralBotoes {
    display: flex;
    align-self: flex-end;

    gap: 10px;
}

.form-check-input {
    cursor: pointer;
}

/* Estilização do Switch do Bootstrap */
.form-check-input:checked {
    background-color: #F97015 !important;
    /* Sua cor laranja */
    border-color: rgba(0, 0, 0, 0.1) !important;
}

/* =============================== */
/* Cards Configurações - Notificações */

.configuracoesNotificacoes {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.configuracoesNotificacoes input,
select {
    background-color: var(--pretoClaro) !important;
    color: var(--branco) !important;
    cursor: pointer;
    border-radius: 5px;
}

.configuracoesNotificacoes input {
    width: 60%;
}

.cardNotificacoes01,
.cardNotificacoes02 {
    width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 20px 30px;

    color: var(--branco);
    transition: all 0.25s ease;
}

.cardNotificacoes01 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudoNotificacao-linha {
    display: flex;
    justify-content: space-between;
}

.conteudoNotificacao-dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudoNotificacao-linha h4 {
    font-size: 22px;
    margin: 0;
}

.conteudoNotificacao-linha span {
    font-size: 18px;
    color: var(--brancoCinza);
}

.form-check-input {
    width: 50px !important;
    height: 30px !important;
}

.conteudoNotificacao-dados {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    padding: 10px 15px;

    border-left: 1px solid var(--laranja-transparente);
}

.conteudoNotificacao-dados span,
.conteudoNotificacao-esquerda span,
.conteudoNotificacao-direita span,
.conteudoNotificacao-regrasTitulo span {
    color: var(--cinzaClaro);
}

.conteudoNotificacao-dados h4 {
    font-size: 18px;
    font-weight: 500;
}

.conteudoNotificacao-dados input {
    background-color: var(--input);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 6px 10px;
    transition: all 0.25s ease;
    outline: none;
    color: white;
    width: 100%;

    cursor: text;
}

.conteudoNotificacao-dados input::after {
    outline: none;
}

.conteudoNotificacao-dados button {
    background: transparent;
    border: none;
    color: var(--laranja);
    font-size: 18px;
}

.conteudoNotificacao-dados select {
    background-color: var(--input);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 6px 10px;
    transition: all 0.25s ease;
    outline: none;
    color: white;
    width: 100%;
}

.conteudoNotificacao-regras {
    display: flex;
    justify-content: space-between;
}

.conteudoNotificacao-regrasTitulo {
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
}

.conteudoNotificacao-regras {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.conteudoNotificacao-regras .conteudoNotificacao-esquerda {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 12px;
    margin: 10px 0px;
}

.conteudoNotificacao-regras .conteudoNotificacao-esquerda h6 {
    margin: 0;
}

.regra-tipo1,
.regra-tipo2,
.regra-tipo3,
.regra-tipo4 {
    padding: 4px 8px;
    border-radius: 12px;
}

.regra-tipo1 {
    color: white;
    background-color: var(--vermelho);
}

.regra-tipo2 {
    color: var(--laranja);
    background-color: var(--laranja-transparente);
}

.regra-tipo3 {
    color: var(--amarelo);
    background-color: var(--amarelo-transparente);
}

.regra-tipo4 {
    color: var(--azul);
    background-color: var(--azul-transparente);
}

.conteudoNotificacao-frequencia {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin-bottom: 30px;
}

.conteudoNotificacao-frequencia select {
    background-color: var(--input);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 6px 10px;
    transition: all 0.25s ease;
    outline: none;
    color: white;
    width: 100%;
}

/* =============================== */
/* Configurações - Estilização Coleta */

.configuracoesColeta {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    gap: 20px;
}

.cardColeta01,
.cardColeta02 {
    width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 20px 30px;

    color: var(--branco);
    transition: all 0.25s ease;
}

.cardColeta01 h4,
.cardColeta02 h4 {
    font-size: 22px;
    margin: 0;
}

.cardColeta01 span,
.cardColeta02 span {
    color: var(--cinzaClaro);
}

.frequenciaColeta {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.coletaInfos {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contadorMundano {
    color: var(--laranja) !important;
    font-weight: 600;
}

.coletaInfos-esquerda {
    display: flex;
    flex-direction: column;
}

h6 {
    margin: 0;
    font-size: 18px;
    font-weight: 600 !important;
}

.coletaInfos-esquerda span {
    font-weight: 300;
}

.frequenciaNumeros {
    display: flex;
    justify-content: space-between;
}

/* ================================ */
/* Estilização Slider -  Bootstrap */
/* Mudando a estilização da Bolinha */
.form-range::-webkit-slider-thumb {
    background-color: var(--brancoCinza) !important;
    /* Cor de dentro da bolinha (escuro) */
    border: 2px solid #ff7a00 !important;
    /* Cor e grossura da borda (laranja) */

    width: 20px !important;
    /* Aumenta a largura da bolinha do slider*/
    height: 20px !important;
    /* Aumenta a altura da bolinha do slider*/
}

/* Mudando a Linha de Fundo (branco pra cinza) */
.form-range::-webkit-slider-runnable-track {
    background-color: var(--bordas) !important;
    /* Cor da linha toda (ex: laranja) */
}

/* ================================ */

.cardColeta02 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardColeta02-titulo {
    margin-bottom: 10px;
}

.intervalosConfig {
    display: flex;
    justify-content: space-between;
}

.intervalosConfig h6 {
    margin: 0;
}

.cardColeta02 h6 {
    margin: 0px;
}

.cardColeta02 input,
.cardColeta02 select {
    width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 10px 10px;

    color: var(--branco);
    transition: all 0.25s ease;
}

.btnSalvarFrequencia {
    display: flex;
    justify-content: end;
    gap: 32px;
    /* background-color: white; */
}

.btnFrequencia02,
.btnCargos02,
.btnPopUp02,
.btnPerfil02,
.btnGeral02 {
    background-color: #e26715;
    border: 1px solid #e26715;
    border-radius: 6px;
    padding: 4px 8px;
    color: var(--branco);
    transition: all 0.25s ease;
}

.btnFrequencia01,
.btnCargos01,
.btnPopUp01,
.btnPerfil01,
.btnGeral01 {
    background: transparent;
    color: var(--branco);
    border: 1px solid var(--bordas);
    padding: 4px 8px;
    border-radius: 6px;

    transition: all 0.25s ease;
}

.btnFrequencia02:hover,
.btnFrequencia01:hover,
.btnCargos01:hover,
.btnCargos02:hover,
.btnPopUp01:hover,
.btnPopUp02:hover,
.btnPerfil01:hover,
.btnPerfil02:hover,
.btnGeral01:hover,
.btnGeral02:hover {
    box-shadow: 0 0 14px #f9701590;
    background-color: #e26715;
}

.funcionario-direita img {
    width: 20px;
    cursor: pointer;
}

/* =============================================== */
/* Configurações - Minha Equipe */

.configuracoesEquipe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardEquipe01,
.cardEquipe02 {
    width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 20px 30px;

    color: var(--branco);
}

.cardEquipe01 {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.tituloEquipes {
    display: flex;
    justify-content: space-between;
}

.tituloEquipes-esquerda {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tituloEquipes-esquerda h4 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.tituloEquipes-esquerda span {
    color: var(--cinzaClaro);
}

.tituloEquipes-direita button {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 4px 12px;
    border: 1px solid var(--bordas);
    border-radius: 6px;

    transition: all 0.25s ease;
}

.tituloEquipes-direita button:hover {
    box-shadow: 0 0 14px var(--laranja-transparente);
    transform: scale(1.02);
}

.equipeScroll {
    display: flex;
    flex-direction: column;

    gap: 10px;
    max-height: 360px;
}

/* =================================== */
/* Scroll da Equipe */
.equipeScroll {
    overflow-y: auto;
    /* Adiciona Scrollbar mesmo sem precisar*/
}

.equipeScroll::-webkit-scrollbar {
    width: 5px;
    /* Largura do Scrollbard*/
}

.equipeScroll::-webkit-scrollbar-track {
    background: transparent;
    /* Tira aquele fundo zoado branco entorno da Scrollbar */
}

.equipeScroll::-webkit-scrollbar-thumb {
    background: rgba(249, 112, 21, 0.7);
    /* Cor da Scrollbar */
    border-radius: 20px;
    /* Arredondar os cantos da Scrollbar*/
}

/* =================================== */

.equipeUsuarios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--preto);
    padding: 8px 20px;
    border: 1px solid var(--bordas);
    border-radius: 6px;
}

.funcionario-esquerda {
    display: flex;
    gap: 10px;
}

.funcionario-direita {
    display: flex;
    gap: 20px;
    align-items: center;
}

.funcionario-direita img {
    width: 25px;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px;
    transition: all 0.25s ease;
}

.funcionario-direita img:hover {
    background-color: var(--laranja);
    box-shadow: 0 0 14px var(--laranja-transparente);
}

.funcionarioCargo {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.funcionarioCargo h6 {
    font-size: 16px;
    margin: 0;
}

.funcionarioCargo span {
    color: var(--cinzaClaro);
}

.equipeUsuarioFoto {
    width: 50px;
    padding: 6px 15px;
    border-radius: 26px;
    background-color: var(--laranja-transparente);
}

.funcionarioDados {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.funcionarioDados h4 {
    font-size: 20px;
    margin: 0;
}

.funcionarioDados span {
    font-size: 16px;
    color: var(--cinzaClaro);
}

.statusFuncionario {
    font-size: 14px;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 12px;
    color: var(--verde);
    background-color: var(--verde-transparente);
}


/* Card 02 - Equipe e Funcionários */
.cardEquipe02 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardEquipe02 h4 {
    font-weight: 700;
    margin: 0;
}

.cardEquipe02 span {
    color: var(--cinzaClaro);
}

.equipe-cargosScroll {
    display: flex;
    flex-direction: column;

    gap: 10px;
    max-height: 360px;
}

/* =================================== */
/* Scroll da Equipe */
.equipe-cargosScroll {
    overflow-y: auto;
    /* Adiciona Scrollbar mesmo sem precisar*/
}

.equipe-cargosScroll::-webkit-scrollbar {
    width: 5px;
    /* Largura do Scrollbard*/
}

.equipe-cargosScroll::-webkit-scrollbar-track {
    background: transparent;
    /* Tira aquele fundo zoado branco entorno da Scrollbar */
}

.equipe-cargosScroll::-webkit-scrollbar-thumb {
    background: rgba(249, 112, 21, 0.7);
    /* Cor da Scrollbar */
    border-radius: 20px;
    /* Arredondar os cantos da Scrollbar*/
}

/* =================================== */

.cargosTipo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--preto);
    padding: 8px 20px;
    border: 1px solid var(--bordas);
    border-radius: 6px;
}

.cargoInfo-esquerda {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cargoDados h6 {
    font-weight: 600;
    margin: 0;
}

.cargoDados span {
    color: var(--cinzaClaro);
}

.cargoInfo-direita {
    display: flex;
    gap: 20px;
}

.cargoShieldIcon {
    width: 25px;
    height: 25px;
}

.imgLapis {
    width: 20px;
    cursor: pointer;
}

.cardEquipe02 button {
    margin-top: 20px;
    background: transparent;
    padding: 4px 8px;
    border-radius: 6px;
    border: none;
    color: var(--laranja);
    font-size: 18px;
    max-width: fit-content;

    transition: all 0.25s ease;
}

.cardEquipe02 button:hover {
    color: white;
    box-shadow: 0 0 14px #f9701590;
    background-color: #e26715;
}

.btnCargos {
    display: flex;
    gap: 20px;
    align-self: end;
}

/* ================================= */
/* Pop Ups */
.fundoPopUp {
    display: flex;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);

    align-items: center;
    justify-content: center;
}

.popUp-adicionarFuncionario {
    display: flex;
    flex-direction: column;

    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 20px 30px;
    gap: 20px;

    color: var(--branco);
}

.popUp-adicionarFuncionarioServidor::-webkit-scrollbar-thumb {
    background: rgba(249, 112, 21, 0.7);
    /* Cor da Scrollbar */
    border-radius: 20px;
    /* Arredondar os cantos da Scrollbar*/
}

.headerPopUpFuncionario {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.headerPopUp-esquerda h4 {
    font-size: 22px;
    margin: 0;
}

.headerPopUp-esquerda span {
    font-size: 16px;
    color: var(--cinzaClaro);
}

.headerPopUp-direita {
    color: var(--cinzaClaro);
    cursor: pointer;
}

.popUpFuncionario-dados {
    display: flex;
    gap: 10px;
}

.popUpFuncionario-dados h6 {
    font-weight: 800;
}

.popUpFuncionario-dados input,
.popUpFuncionario-dados select,
.popUpFuncionario-Senha input {
    min-width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 10px 10px;

    color: var(--branco);
    transition: all 0.25s ease;
}

.popUpFuncionario-dados input:focus,
.popUpFuncionario-dados select:focus .popUpFuncionario-Senha input:focus {
    outline: 2px solid #F97015;
}

.popUpFuncionarioEnviar {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.popUpConfirmacao-esquerda h4 {
    font-size: 18px;
    font-weight: 700;
}

.popUpConfirmacao-esquerda span {
    font-size: 16px;
    color: var(--cinzaClaro);
}

.popUpFuncionario-confirmar {
    display: flex;
    gap: 10px;
    align-self: end;
}

.configPagEscolhido {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ============================== */
/* Configurações - Meu Perfil */

.cardsPerfil {
    width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 20px 30px;

    color: var(--branco);
}

.cardsPerfil h4 {
    color: var(--branco);
    font-weight: 700;
    margin: 0;
}

.cardsPerfil span {
    color: var(--cinzaClaro);
}

.fotoDadosPerfil {
    display: flex;
    gap: 25px;
    margin: 30px 0px;
}

.fotoDadosPerfil img {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

.container-fotoPerfil {
    padding: 20px;
    background-color: var(--laranja-transparente);
    border-radius: 100%;
    cursor: pointer;

    transition: all 0.25s ease;
}

.container-fotoPerfil:hover {
    filter: brightness(50%);
}

.perfilNomeCargo {
    display: flex;
    flex-direction: column;
    align-self: end;

    gap: 3px;
}

.perfilNomeCargo h6,
.perfilNomeCargo h4 {
    margin: 0;
}

.perfilNomeCargo h6,
.perfilNomeCargo span {
    font-weight: 400;
}

.perfilNomeCargo h6 {
    color: var(--cinzaClaro);
}

.perfilNomeCargo span {
    font-size: 14px;
}

.perfilBotoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: end;
    gap: 20px;
}

.dadosPerfil {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.dadosPerfil-input {
    display: flex;
    width: 100%;
    gap: 10px;
}

.dadosPerfil-esquerda,
.dadosPerfil-direita {
    width: 50%;
}

.dadosPerfil-esquerda input,
.dadosPerfil-direita input,
.segurancaInput-esquerda input,
.segurancaInput-direita input {
    min-width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 10px 10px;

    color: var(--branco);
    transition: all 0.25s ease;
}

.dadosPerfil-esquerda input:focus,
.dadosPerfil-direita input:focus {
    outline: 2px solid #F97015;
}

.cardPerfil02 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.segurancaPerfil-input {
    display: flex;
    gap: 10px;
    width: 100%;
}

.segurancaInput-esquerda,
.segurancaInput-direita {
    min-width: 50%;
}

.doisFatores {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.doisFatores-esquerda h4 {
    font-size: 22px;
}

.doisFatores-esquerda span {
    font-size: 16px;
}

.cardPerfil03 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardPerfil03 h4 {
    margin: 0;
}

.cardPerfil03 span {
    color: var(--cinzaClaro);
}

.sessaoLinhas {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}


.fundoPopUpServidor {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);

    align-items: center;
    justify-content: center;
}

.popUp-adicionarFuncionarioServidor {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;

    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 10px 30px;
    gap: 20px;

    color: var(--branco);
}

.headerPopUpFuncionarioServidor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.headerPopUp-esquerdaServidor h4 {
    font-size: 22px;
    margin: 0;
}

.headerPopUp-esquerdaServidor span {
    font-size: 16px;
    color: var(--cinzaClaro);
}

.headerPopUp-direitaServidor {
    color: var(--cinzaClaro);
    cursor: pointer;
}

.popUpFuncionario-dadosServidor {
    display: flex;
    gap: 10px;
}

.popUpFuncionario-dadosServidor h6 {
    font-weight: 800;
}

.popUpFuncionario-dadosServidor input,
.popUpFuncionario-dadosServidor select,
.popUpFuncionario-SenhaServidor input {
    min-width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 10px 10px;

    color: var(--branco);
    transition: all 0.25s ease;
}

.popUpFuncionario-dadosServidor input:focus,
.popUpFuncionario-dadosServidor select:focus .popUpFuncionario-SenhaServidor input:focus {
    outline: 2px solid #F97015;
}

.popUpFuncionarioEnviarServidor {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.popUpConfirmacao-esquerdaServidor h4 {
    font-size: 18px;
    font-weight: 700;
}

.popUpConfirmacao-esquerdaServidor span {
    font-size: 16px;
    color: var(--cinzaClaro);
}

.popUpFuncionario-confirmarServidor {
    display: flex;
    justify-content: space-between;
}

.configPagEscolhidoServidor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.componente-box {
    border: 1px solid var(--bordas);
    border-radius: 8px;
    padding: 15px;
    background-color: var(--pretoClaro);
    margin-bottom: 10px;
}


.componente-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-componente {
    margin-left: 10px;
    flex: 1;
}

.tipo-metrica {
    display: flex;
    gap: 8px;
    font-size: 12px;
}

.tipo-metrica .ativo {
    background-color: #2a2f36;
    padding: 4px 8px;
    border-radius: 6px;
}


.checkbox-container {
    position: relative;
    cursor: pointer;
}

.checkbox-container input {
    display: none;
}

.checkmark {
    width: 16px;
    height: 16px;
    background-color: var(--cinzaClaro);
    border-radius: 4px;
    display: inline-block;
}

.checkbox-container input:checked+.checkmark {
    background-color: #F97015;
}


.componente-config {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    gap: 15px;
}

.componente-config.ativo {
    display: flex;
}


.botoes-metrica {
    display: flex;
    gap: 10px;
}

.botoes-metrica button {
    background-color: var(--preto);
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: var(--branco);
    cursor: pointer;
}

.botoes-metrica :hover {
    background-color: #F97015;
    color: white;
}


.limites {
    display: flex;
    gap: 10px;
}

.limites div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.limites input {
    min-width: 100%;
    background-color: var(--pretoClaro);
    border: 1px solid var(--bordas);
    border-radius: 6px;
    padding: 10px 10px;

    color: var(--branco);
    transition: all 0.25s ease;
}

.titulo-grupo {
    margin-top: 16px;
    margin-bottom: 10px;
}

.titulo-grupo img {
    margin-right: 5px;
}

/* Card alerta Geral */
/* ================= */

/* Animação para piscar o card */
@keyframes piscar {
    0% {
        background: var(--branco);
    }

    50% {
        background: var(--branco-transparente);
    }

    100% {
        background: var(--branco);
    }
}

@keyframes crescer {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.3;
    }

    100% {
        scale: 1.5;
    }
}

.card-alertaGeral {
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    z-index: 1;
    pointer-events: none;
}

.box-cardAlerta {
    display: flex;
    background-color: var(--branco);
    backdrop-filter: blur(5px);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 35%;
    margin-right: 2%;
    border-radius: 5px;
    border-left: 10px solid var(--vermelho);
    animation: piscar 2s infinite;
}

.titulo-pai{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.titulo-alerta {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    color: var(--vermelho);
    font-weight: bold;
}

.titulo-alerta img {
    width: 20%;
    animation: crescer 1.5s infinite;
    filter: drop-shadow(6px 6px 10px var(--vermelho));
}

.fecharCard{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: var(--preto);
}

.fecharCard span{
    cursor: pointer;
    pointer-events: all;
}

.corpo-alerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--preto);
}

.corpo-alerta a {
    pointer-events: all;
    text-decoration: none;
    transition: 1s ease;
    color: var(--preto);
}

.corpo-alerta a:hover {
    transform: scale(1.1);
    color: var(--vermelho);
}