@media (max-width: 768px) {

    html {
        overflow-x: hidden ;

    }
    .sidebar {
        position: fixed;
        left: -100%;
        top: 0;
        width: 250px;
        height: 100%;
        transition: 0.3s;
        z-index: 1000;
    }
    
    .sidebar.ativa {
        left: 0;
    }
    
    .cards-grafico, .conteudo-dash03, .componentes-servidor, .legendas-servidor, .header-conteudo-dash, .header-esquerdo01, .cards-monitoramento, .cards-componentesServidor{
        flex-direction: column;
        min-width: 100%;
    }

    .header-direita{
        margin-bottom: 10px;
    }

    .cards-conteudo{
        max-height: 30%;
        min-width: 45%;
    }

    .conteudo-dash01{
        flex-wrap: wrap;
        min-width: 100%;
        justify-content: center;
    }

    .cards-alerta-central {
        display: flex;
        flex-wrap: wrap;
    }

    .card-alerta-geral {
        display: flex;
        min-width: 48%;
        min-height: 45%;
        gap: 5px;
    }

    .central-alerta-filtros {
        display: block;
        margin-bottom: 50px;
        width: 100%;
    }

    .central-alerta-filtros input {
        display: flex;
        width: 100%;
    }

    .lista-alertas {
        display: flex;
        flex-wrap: wrap;
    }

    .alerta01, .alerta02, .alerta03, .alerta04, .alerta05 {
        display: flex;
        flex-direction: column;
    }

    .card-server {
        flex-direction: row;
        min-height: 46%;
    }

    .card-server img {
        width: 20px;
        height: 30px;
    }

    .titulo-cards-servidores {
        align-items: center;
    }

    .barra-pesquisa{
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .barra-pesquisa input, button{
        width: 100%;
    }

    table{
        display: flex;
        overflow-x: auto;
        scrollbar-width: auto;
        width: 100%;
        flex-direction: column;
    }

    .kpi-relatorio {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        
    }

    .conteudo-relatorio {
        min-width: 100%;
        display: flex;
        height: 32%;
    }

    .componentesServidor{
        overflow-y: auto;
        scrollbar-width: auto;
    }

    .cardIndividual-monitoramento {
        min-width: 100%;
    }

    .cardIndividual-ServidoresComponentes {
        min-width: 100%;
    }

    .cards-componentesServidor {
        height: auto;
        max-height: none;
    }

    .cardIndividual-ServidoresComponentes {
        width: 100%;
    }
}
