@media (max-width: 768px) {

    html {
        overflow-x: hidden;

    }

    .sidebar {
        position: fixed;
        left: -100%;
        top: 0;
        width: 250px;
        height: 100%;
        transition: 0.3s;
        z-index: 1000;
    }

    .compacta {
        left: 0;
    }

    .botao-fechar{
        display: flex !important;
        position: fixed;
        cursor: pointer;
        width: 100%;
        justify-content: flex-end;
        color: var(--branco);
    }
    
    .botao-fechar span{
        font-size: 50px;
    }

    /* Modo visivel */
    .sidebar.compacta {
        width: 80%;
    }

    /* Esconder textos */
    .sidebar.compacta .titulo_sidebar,
    .sidebar.compacta .btn-nobroke a,
    .sidebar.compacta .btn-nobroke span:not(.icon),
    .sidebar.compacta .user-infos {
        display: flex;
    }

    .sidebar.compacta .menu_centro {
        width: 100%;
        align-items: start;
    }

    /* Centralizar ícones */
    .sidebar.compacta .btn-nobroke {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
    }

    /* Ajustar ícones */
    .sidebar.compacta .icon img {
        width: 30px;
    }

    .sidebar.compacta .user-profile {
        width: 100;
        justify-content: start;
    }

    .conteudo-dash.expandido {
        width: 100% !important;
        z-index: -1 !important;
    }

    .cards-grafico,
    .conteudo-dash03,
    .componentes-servidor,
    .legendas-servidor,
    .header-conteudo-dash,
    .header-esquerdo01,
    .cards-monitoramento,
    .cards-componentesServidor {
        flex-direction: column;
        min-width: 100%;
    }

    .header-direita {
        margin-bottom: 10px;
    }

    .cards-conteudo {
        max-height: 30%;
        min-width: 45%;
    }

    .conteudo-dash01 {
        flex-wrap: wrap;
        min-width: 100%;
        justify-content: center;
    }

    .cards-alerta-central {
        display: flex;
        flex-wrap: wrap;
    }

    .card-alerta-geral {
        display: flex;
        min-width: 48%;
        min-height: 45%;
        gap: 5px;
    }

    .central-alerta-filtros {
        display: block;
        margin-bottom: 50px;
        width: 100%;
    }

    .central-alerta-filtros input {
        display: flex;
        width: 100%;
    }

    .lista-alertas {
        display: flex;
        flex-wrap: wrap;
    }

    .alerta01,
    .alerta02,
    .alerta03,
    .alerta04,
    .alerta05 {
        display: flex;
        flex-direction: column;
    }

    .card-server {
        flex-direction: row;
        min-height: 46%;
    }

    .card-server img {
        width: 20px;
        height: 30px;
    }

    .titulo-cards-servidores {
        align-items: center;
    }

    .barra-pesquisa {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .barra-pesquisa input,
    button {
        width: 100%;
    }

    table {
        display: flex;
        overflow-x: auto;
        scrollbar-width: auto;
        width: 100%;
        flex-direction: column;
    }

    .kpi-relatorio {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;

    }

    .conteudo-relatorio {
        min-width: 100%;
        display: flex;
        height: 32%;
    }

    .componentesServidor {
        overflow-y: auto;
        scrollbar-width: auto;
    }

    .cardIndividual-monitoramento {
        min-width: 100%;
    }

    .cardIndividual-ServidoresComponentes {
        min-width: 100%;
    }

    .cards-componentesServidor {
        height: auto;
        max-height: none;
    }

    .cardIndividual-ServidoresComponentes {
        width: 100%;
    }

    .configuracoesCorpo {
        flex-direction: column;
    }

    .configuracoesPainel {
        min-width: 100%;
    }

    .geralBotoes {
        min-width: 100%;
    }


    .cardEquipe01 {
        display: flex;
    }

    .equipeUsuarios {
        gap: 30px;
        width: 100%;

    }

    .funcionarioCargo {
        display: none;
    }


    .equipeUsuarioFoto {
        width: 34px;
        padding: 6px 5px;
        border-radius: 50%;
    }

    .funcionario-esquerda img {
        background-color: transparent;
        padding: 0;
        width: 20px;
    }

    .tituloEquipes {
        flex-direction: column
    }


    .btnCargos {
        min-width: 100%;
    }

    .fundoPopUp {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

    }

    .popUpFuncionario-dados {
        flex-direction: column;
    }

    .popUpFuncionario-inserirDados-direita,
    .popUpFuncionario-inserirDados-esquerda {
        min-width: 100%;
    }


    .dadosPerfil-input {
        display: flex;
        flex-direction: column;
    }

    .dadosPerfil-esquerda,
    .dadosPerfil-direita {
        width: 100%;
    }

    .segurancaPerfil-input {
        display: flex;
        flex-direction: column;
    }

    .segurancaInput-esquerda,
    .segurancaInput-direita {
        width: 100%;
    }


    .perfilBotoes {
        min-width: 100%;
    }

    .container-fotoPerfil {
        background-color: transparent;
    }

    .funcionarioDados h4,
    .funcionarioDados span,
    .cargoDados span,
    .cargoInfo-direita span,
    .sessaoLinhas h6 {
        font-size: 12px;
    }

    .cardNotificacoes01 h4,
    .cardNotificacoes01 span,
    .conteudoNotificacao-dados button,
    .cardColeta01 h4,
    .cardColeta01 span,
    .cardColeta02 h4,
    .cardColeta02 span,
    .cardEquipe01 h4,
    .cardEquipe01 span,
    .cardEquipe02 button,
    .cardEquipe02 h4,
    .cardEquipe02 span,
    .doisFatores-esquerda h4,
    .doisFatores-esquerda span,
    .cargoDados h6,
    .form-contato h2,
    .form-contato label,
    .form-contato input {
        font-size: 14px;
    }

    .sup-dash {
        gap: 0;
    }
    .cards-conteudo-suporte {
        min-width: 100%;
    }

    .cards-conteudo-seguranca, .cards-conteudo-suporte {
        height: 90%;
        align-items: center;
    }

    .info-esquerda strong{
        font-size: 12px;
    }

    .info-direita button {
        font-size: 12px;
    }

    
    
}