body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

#header {
  background-color: black;
}

#header a {
  color: white;
  font-size: 25px;
}

#main-nav a:hover {
  transform: scale(1.05);
  font-weight: bold;
  color: #ff5400
}

#main .muda-pagina {
  color: #ff5400;
}

#inicio .container-fluid {
  background-image: url('../assets/icon/img-background.jpg');
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
}

#inicio .row {
  width: 100%;
  backdrop-filter: brightness(0.4);
}

.logo-banner {
  display: flex;
  align-items: end;
  justify-content: center;
}

.beneficios-box {
  height: 250px;
  border-radius: 20px 0px 20px 0px;
  background-color: #ff5400;
  box-shadow: -8px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 0px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease-out
}

.beneficios-box:hover {
  transform: scale(1.05);
}

#servicos {
  background-color: #ebebeb;
  border-radius: 60px 60px 0px 0px;
}

.servicos-titulos {
  color: #ff5400;
}

.titulo-faq {
  width: 70%;
}

#accordionFlushExample {
  width: 70%;
}

#btn-duvida {
  width: 70%;
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}

.btn-duvida {
  color: #ff5400;
  text-decoration: none;
  border: none;
  background: none;
}

.btn-duvida:hover {
  transform: scale(1.05);
  font-weight: bold;
}

#fale-conosco .container {
  display: flex;
  flex-direction: column;
}

#fale-conosco button {
  background-color: #ff5400;
  color: white;
  width: 100%;
}

#footer {
  background-color: black;
}

#footer span {
  color: #b4b4b4;
}

#footer .img-redes {
  width: 32px;
  height: 32px;
}

#nossos-servicos1 img {
  width: 100%;
  height: 100%;
}

#nossos-servicos2 img {
  width: 100%;
  height: 100%;
}



@media only screen and (max-width: 576px) {

  .beneficios-box {
    width: 70%;
  }

  #nossos-servicos1 img {
    width: 70%;
    height: 70%;
  }

  #nossos-servicos2 img {
    width: 70%;
    height: 70%;
  }

}

@media only screen and (min-width: 577px) {

  .beneficios-box {
    width: 50%;
  }

  #nossos-servicos1 img {
    width: 70%;
    height: 70%;
  }

  #nossos-servicos2 img {
    width: 70%;
    height: 70%;
  }

  #formulario {
    height: 550px;
  }

}

@media only screen and (min-width: 768px) {

  .beneficios-box {
    width: 95%;
  }

  #nossos-servicos1 img {
    width: 100%;
    height: 65%;
  }

  #nossos-servicos2 img {
    width: 100%;
    height: 65%;
  }

  #formulario {
    border-left: 0;
    height: 550px;
  }

  #div-img-form {
    height: 550px;
  }

  #img-formulario {
    width: 100%;
    height: 550px;
  }
}

@media only screen and (min-width: 992px) {

  .beneficios-box {
    width: 95%;
  }

  #nossos-servicos1 img {
    width: 100%;
    height: 100%;
  }

  #nossos-servicos2 img {
    width: 100%;
    height: 100%;
  }

  #formulario {
    border-left: 0;
    height: 550px;
  }

  #div-img-form {
    height: 550px;
  }

  #img-formulario {
    width: 100%;
    height: 550px;
  }

}

.sidebar {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.logo-dash {
  width: 120px;
}

.btn-nobroke {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-align: center;

  background-color: #ff5400;
  color: white !important;

  padding: 12px 20px;
  border-radius: 8px;
  border: none;

  font-weight: bold;
  text-decoration: none;

  transition: 0.25s;
  margin-bottom: 10px;
}

.btn-nobroke:hover {
  background-color: #ff6a1f;
  color: white !important;
  transform: scale(1.03);
}

.icon img{
  width: 30px;
  margin-right: 10px;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f1f3f6, #e4e7ec);
}

.img-manutencao {
  max-width: 500px;
  width: 50%;
}

@media (max-width:768px) {

  .sidebar {
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
  }

  .logo-dash {
    width: 70px;
  }

  .btn-nobroke {
    width: auto;
    font-size: 14px;
    padding: 8px 14px;
  }

}

.user-profile {
  text-align: center;
  padding: 15px;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.username {
  margin-bottom: 10px;
}

.logout-btn {
  padding: 6px 12px;
  border: none;
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #c0392b;
}

/* conteudo da dash*/

.conteudo-dash{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #0f0f0f;
}