 .background {
    background-image: linear-gradient(to right, #4E4E4E , #1E1E1E);
    padding: 12%;
 }

 .label-title {
    color: white
 }
 
 .button-color{
    background-color: #FF5500;
    font-weight: bold;
    border-color: #FF5500;
    color: white;
 }