@import url('dashboard.css');

.cabeca {
    display: flex;
    margin-left: 1%;
    width: 99%;
    flex-direction: column;
    gap: 10px;
}

.tituloTela {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

button {
    display: flex;
    background-color: var(--pretoClaro);
    color: var(--branco);
    border: solid 2px var(--bordas);
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: var(--laranja);
}

h1,
.tituloTela p {
    color: var(--branco);
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: var(--cinzaClaro);
}

span {
    color: var(--branco);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 100% !important;
    min-height: 70% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.kpi {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 20%;
    max-height: 40%;
}

.kpi-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
    gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 90%;
    max-height: 90%;
    padding: 5px;
    background-color: var(--pretoClaro);
    border-radius: 10px;
    border: solid 2px var(--bordas);
    cursor: pointer;
}

.box div {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.kpi .imgIcone {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.imgIcone img {
    margin: 30px 0px 20px 0px;
    width: 100%;
    height: 50%;
}

.box-grafico {
    display: flex;
    width: 98%;
    height: 70% !important;
    flex-direction: column;
    background-color: var(--pretoClaro);
    border-radius: 10px;
    border: solid 2px var(--bordas);
    padding: 10px;
}

.pesquisaServer {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.pesquisaServer input {
    width: 30%;
    height: 45%;
    background-color: var(--pretoClaro);
    border: solid 2px var(--bordas);
    border-radius: 10px;
    color: var(--branco);
    font-size: 16px;
}

.grafico {
    display: flex;
    height: 85%;
}

.grafico input {
    width: 30%;
    height: 10%;
    background-color: var(--pretoClaro);
    border: solid 2px var(--bordas);
    border-radius: 10px;
    color: var(--branco);
    font-size: 16px;
}

.caminhoPesquisa {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

canvas {
    display: flex;
    width: 90%;
}

.tabela-container {
    width: 100%;
    background-color: var(--preto);
    border-radius: 8px;
}

.tabela-servidores {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tabela-servidores th,
.tabela-servidores td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid var(--bordas);
    color: var(--branco);
    font-size: 14px;
    white-space: nowrap;
}

/* Definindo larguras idênticas para cabeçalho e corpo */
.tabela-servidores th:nth-child(1),
.tabela-servidores td:nth-child(1) {
    width: 15%;
}

.tabela-servidores th:nth-child(2),
.tabela-servidores td:nth-child(2) {
    width: 7%;
}

.tabela-servidores th:nth-child(3),
.tabela-servidores td:nth-child(3) {
    width: 15%;
}

.tabela-servidores th:nth-child(4),
.tabela-servidores td:nth-child(4) {
    width: 10%;
}

.tabela-servidores th:nth-child(5),
.tabela-servidores td:nth-child(5) {
    width: 7%;
}

.tabela-servidores th:nth-child(6),
.tabela-servidores td:nth-child(6) {
    width: 18%;
}

.tabela-servidores th:nth-child(7),
.tabela-servidores td:nth-child(7) {
    width: 17%;
}

.tabela-servidores th:nth-child(8),
.tabela-servidores td:nth-child(8) {
    width: 11%;
}

.tabela-servidores td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabela-servidores td,
    .tabela-servidores th {
        font-size: 18px;
    }

/* =========================================== */
/* Reponsividade */

@media (max-width: 500px) {
    .qualTela {
        font-size: 15px;
    }

    .header-conteudo-dash {
        display: flex;
        width: 100%;
        flex-direction: row !important;
    }

    .header-esquerdo {
        width: 65%;
    }

    .header-direita {
        width: 30%;
        font-size: 26px !important;
    }

    .header-direita img {
        width: 30% !important;
    }

    .container {
        min-height: 230vh !important;
        justify-content: space-between;
        gap: 20px;
    }

    .kpi {
        flex-direction: column;
        min-width: 100%;
        height: 50%;
    }

    .kpi-box {
        flex-wrap: wrap;
    }

    .box {
        width: 90%;
        min-width: 140px;
        height: auto;
        min-height: 100px;
    }

    .box div {
        justify-content: center;
    }

    .imgIcone img {
        width: 70%;
    }

    .box-grafico {
        max-height: 50% !important;
    }

    .pesquisaServer {
        flex-direction: column;
        align-items: center;
        max-height: 10%;
    }

    .pesquisaServer input {
        width: 80%;
    }

    .grafico {
        max-height: 80%;
    }

    .grafico input {
        width: 80%;
    }

    .tabela-container {
        display: block !important;
        width: 100%;
        overflow-x: auto !important;
        padding-bottom: 10px;
        min-height: 50vh;
    }

    .tabela-servidores {
        min-width: 850px !important;
        table-layout: fixed;
    }

    .tabela-servidores th:nth-child(1),
    .tabela-servidores td:nth-child(1) {
        min-width: 130px;
    }

    /* Servidor */
    .tabela-servidores th:nth-child(2),
    .tabela-servidores td:nth-child(2) {
        min-width: 60px;
    }

    /* Status */
    .tabela-servidores th:nth-child(3),
    .tabela-servidores td:nth-child(3) {
        min-width: 180px
    }

    /* Data */
    .tabela-servidores th:nth-child(4),
    .tabela-servidores td:nth-child(4) {
        min-width: 100px;
    }

    /* CPU % */
    .tabela-servidores th:nth-child(5),
    .tabela-servidores td:nth-child(5) {
        min-width: 90px;
    }

    /* Processos */
    .tabela-servidores th:nth-child(6),
    .tabela-servidores td:nth-child(6) {
        min-width: 180px;
    }

    /* Proc Maior Consumo */
    .tabela-servidores th:nth-child(7),
    .tabela-servidores td:nth-child(7) {
        min-width: 200px;
    }

    /* Uso Real */
    .tabela-servidores th:nth-child(8),
    .tabela-servidores td:nth-child(8) {
        min-width: 150px;
    }

    /* Botão */
}

@media (min-width: 501px) and (max-width: 1599px) {
    .header-conteudo-dash {
        display: flex;
        width: 100%;
        flex-direction: row !important;
    }

    .header-esquerdo {
        width: 50%;
    }

    .header-direita {
        width: 20%;
        font-size: 26px !important;
    }

    .header-direita img {
        width: 30% !important;
    }

    .container {
        min-height: 130vh !important;
        gap: 20px;
    }

    .pesquisaServer input {
        width: 45% !important;
        height: 30% !important;
    }

    .grafico input {
        width: 45% !important;
        height: 10% !important;
    }

    .kpi {
        flex-direction: column;
        min-width: 100%;
        height: fit-content;
    }

    .kpi-box {
        flex-direction: row !important;
        width: 100%;
    }

    .tabela-container {
        display: block !important;
        width: 100%;
        overflow-x: auto !important;
        padding-bottom: 10px;
        min-height: 50vh;
    }

    .tabela-servidores {
        min-width: 200vh !important;
        table-layout: fixed;
    }

    /* Definindo larguras idênticas para cabeçalho e corpo */
    .tabela-servidores th:nth-child(1),
    .tabela-servidores td:nth-child(1) {
        width: 15%;
    }

    .tabela-servidores th:nth-child(2),
    .tabela-servidores td:nth-child(2) {
        width: 10%;
    }

    .tabela-servidores th:nth-child(3),
    .tabela-servidores td:nth-child(3) {
        width: 15%;
    }

    .tabela-servidores th:nth-child(4),
    .tabela-servidores td:nth-child(4) {
        width: 10%;
    }

    .tabela-servidores th:nth-child(5),
    .tabela-servidores td:nth-child(5) {
        width: 8%;
    }

    .tabela-servidores th:nth-child(6),
    .tabela-servidores td:nth-child(6) {
        width: 15%;
    }

    .tabela-servidores th:nth-child(7),
    .tabela-servidores td:nth-child(7) {
        width: 15%;
    }

    .tabela-servidores th:nth-child(8),
    .tabela-servidores td:nth-child(8) {
        width: 12%;
    }

    .tabela-servidores td,
    .tabela-servidores th {
        font-size: 16px;
    }
}