@import url('dashboard.css');

.alinhar-texto-imagem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-atualizacao {
    display: flex;
    gap: 30px;
}

.header-botoes-dia {
    display: flex;
    background-color: #27272bcc;
    width: 50%;
    border-radius: 10px;
}

.header-esquerdo-prod{
    display: flex;
    flex-direction: column;

}

.botao-dia {
    background-color: transparent;
    color: white;
    padding: 8px;
    width: 100%;
    font-size: 12px;
    border: none;
}

.botao-selecionado {
    background-color: var(--laranja);
    border-radius: 10px;
    color: black;
}

.container-header-opc {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60vw;
    margin-top: 10px;
}

.select-atividades {
    padding: 6px;
    border: none;
    border-radius: 10px;
}

.botao-recarregar {
    background-color: var(--pretoClaro);
    align-items: center;
    display: flex;
    padding: 6px;
    width: 20%;
    border: none;
    border-radius: 10px;
    justify-content: center;
}

.botao-relatorio {
    background-color: var(--pretoClaro);
    align-items: center;
    display: flex;
    padding: 6px;
    width: 25%;
    justify-content: center;
    border: none;
    border-radius: 10px;
    gap: 8px;
}
.botao-detalhes {
    background-color: var(--laranja);
    align-items: center;
    display: flex;
    padding: 6px;
    width: 26%;
    justify-content: center;
    border: none;
    border-radius: 10px;
    gap: 8px;
}

.botao-detalhes span {
    color: var(--preto);
}

.equipe-operacao {
    background-color: rgb(1, 59, 1);
    color: #38c411cc;
    font-weight: bold;
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 15px;
    border: 1px solid;
}

.header-esquerdo01 {
    align-items: center;
}

.container-titulo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.imagem-titulo {
    background-color: rgba(130, 72, 1, 0.479);
    padding: 8px;
    border-radius: 10px;
}

.bloco-titulo {
    align-items: center;
}

.bloco-titulo h2 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.bloco-titulo h3 {
    font-size: 12px;
    color: #d2d2d2cc;
    font-weight: 400;
}




.cabeca {
    display: flex;
    margin-left: 1%;
    width: 99%;
    flex-direction: column;
    gap: 10px;
}

.tituloTela {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.kpi {

    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.kpi-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #1d1e21cc;
    border: 1px solid #3f3f44cc;
    border-radius: 12px;
    padding: 22px;
    width: 12%;
}

.kpi-img {
    background-color: rgb(0, 64, 0);
    padding: 6px;
    border-radius: 10px;
}
.kpi-valor {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.kpi-texto {
    color: #b8b8b8cc;
    font-size: 12px;
    font-weight: 600;
}

.kpi-texto-sub {
    font-size: 10px;
    font-weight: normal;
}

button:hover {
    background-color: var(--laranja);
}

h1,
.tituloTela p {
    color: var(--branco);
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: var(--cinzaClaro);
}

span {
    color: var(--branco);
}


